#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#toolbar.hidden {
  display: none;
}

#opener {
  width: 86px;
  height: 85px;
  cursor: pointer;
  background: linear-gradient(to top right, purple, transparent);
}

#container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}
#container.hidden {
  display: none;
}

#main {
  display: flex;
}

#sub {
  display: none;
  padding: 20px;
}
#sub.show {
  display: flex;
}

#locations {
  display: none;
  flex-direction: column;
  gap: 5px;
}
#locations.show {
  display: flex;
}

@media(max-width: 768px) {
  #main {
    font-size: 0.8rem;
    /*flex-wrap: wrap;*/
  }

  #container {
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
  }

  #opener {
    width: 50px;
    height: 100px;
  }
}
